<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="Application Test Suite">
            <file>tests/Stubs/AuthGuardMiddleware.php</file>
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <file>src/Config/Database.php</file> 
            <file>src/Service/AuthGuardMiddleware.php</file>
            <file>src/Service/CorsMiddleware.php</file>
        </exclude>
    </source>

    <coverage></coverage>

    <php>
        <ini name="display_errors" value="On" />
        
        <ini name="error_reporting" value="-1" />

        <const name="PHPUNIT_RUNNING" value="true" />
    </php>
</phpunit>
